.navbar {
    background: blue;
    width: 100%;
    height: 10vh;
}

.mainContainer {
    background:url('/world.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer form {
    display: flex;
    flex-direction: row;
}