*{
    font-family: 'Roboto', sans-serif;

}

.navbar {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 10vh;
    display: flex;
    min-height: 85px;

}
.leftSideNav {
   width: 50%;
   text-align: end;
   font-weight: lighter;
   padding-left: 2%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.rightSideNav {
   width: 50%;
   text-align: end;
   font-weight: lighter;
   padding-right: 2%;
   text-decoration: white double underline;
   
 
}
.localTemp {
 text-align: start;
}

.localSummary {
    text-align: start;
}
.mainContainer {
    background:url('/world.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.locationTemp {
    background: black;
    color: white;
}
.weatherDisplay {
    width: 800px;
    height: 50vh;
    color: white;
    display: none;
    background: black;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;


}
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputError {
    background: red;
    color: white;
    display:none;
}

.mainContainer form {
    display: flex;
    flex-direction: row;
}

#formButton {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    transition:all 0.5s linear;
    
  
}

#formButton:hover {
    background-color: white;
    color:  rgba(0,0,0,1);
}