*{
    font-family: 'Roboto', sans-serif;

}

.navbar {
    background: blue;
    width: 100%;
    height: 10vh;
}

.mainContainer {
    background:url('/world.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.locationTemp {
    background: black;
    color: white;
}
.weatherDisplay {
    width: 800px;
    height: 50vh;
    color: white;
    display: none;
    background: black;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;

}
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputError {
    background: red;
    color: white;
    display:none;
}

.mainContainer form {
    display: flex;
    flex-direction: row;
}

#formButton {

}